name: Latest blog post workflow
on:
  schedule: # Run workflow automatically
    - cron: '0 0 * * *'
  workflow_dispatch: # Run workflow manually (without waiting for the cron to be called), through the Github Actions Workflow page directly
permissions:
  contents: write # To write the generated contents to the readme  
jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Pull in blog posts
        uses: gautamkrishnar/blog-post-workflow@v1
        with:
          feed_list: "https://www.koprowski.it/blog/rss.xml"
      - name: Pull in newsletter posts
        uses: gautamkrishnar/blog-post-workflow@v1
        with:
          feed_list: "https://www.progractivity.com/flow/rss.xml"             
          comment_tag_name: NEWSLETTER-POST-LIST
